* {
    box-sizing: border-box;
}

body{
    background-image: url('/image/pic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
.container{
    width: 800px;
}
h1 {
    text-align: center;
    color:#fff;
    font-family: cursive;
    margin-top: 24px;
    font-weight: bold;
}
.form-label{
    color:#fff;
    font-family: cursive;
    font-size: 24px;
}

.table thead tr th {
    background-color: #49908e;
    color: #fff;
    font-family: cursive;
    font-size: 24px;
    text-align: center;
}
#addBook{
    background-color:cadetblue;
    border: none;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;

}
.center{
    text-align: center;
    font-family: cursive;
    font-size: 16px;
}
.fa-pen-to-square{
    color: green;
    cursor: pointer;

}
.fa-trash-can{
    color: red;
    cursor: pointer; 
}